<table>
  <thead>
    <tr>
      <th>No</th>
      <th>問題名</th>
      <th>得点</th>
      <% if current_user.administor %>
        <th>公開</th>
        <th>編集</th>
        <th>削除</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.id %></td>
        <td><%= link_to problem.name, problem_path(problem) %></td>
        <td><%= problem.point %></td>
        <% if current_user.administor %>
          <% if problem.opened %>
            <td>済</td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= link_to '編集', edit_problem_path(problem)  %></td>
          <td><%= link_to '削除', problem_path(problem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
