<h1>No.<%= @problem.id+1 %> <%= @problem.name %></h1>

<% if current_user.administor %>
  <% if @problem.opened %>
    <p>公開済</p>
  <% else %>
    <p>未公開</p>
  <% end %>
<% end %>

<h2>問題</h2>
<p><%= @problem.question %></p>

ここに入出力サンプルをいれる <br>
<%= form_for @submit, url: {controller: 'submit', action: 'create'} do |f| %>
  <div>
    <%= f.label '言語' %>
    <%= f.collection_select :language_id, Language.all, :id, :display %>
  </div>

  <div>
    <%= f.label 'ソースコード' %>
    <%= f.text_area :code %>
  </div>

  <div style="display: none">
    <%= f.collection_select :problem_id, Problem.all, :id, :name, selected: @problem.id %>
  </div>

  <%= f.submit  %>
<% end %>

<% if current_user.administor %>
  <%= link_to '編集', edit_problem_path(@problem)  %>
  <%= link_to '削除', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to '戻る', problems_path %>
