<h1>No.<%= @problem.id+1 %> <%= @problem.name %></h1>

<% if current_user.administor %>
  <% if @problem.opened %>
    <p>公開済</p>
  <% else %>
    <p>未公開</p>
  <% end %>
<% end %>

<h2>問題</h2>
<p><%= @problem.question %></p>

<h2>入出力サンプル</h2>
<hr>
<% @test_cases.each.with_index(1) do |test_case, i| %>
  <h3>入力例<%= i %></h3>
  <pre>
    <%= test_case.input %>
  </pre>

  <h3>出力例<%= i %></h3>
  <pre>
    <%= test_case.output %>
  </pre>

  <% if current_user.administor %>
    <%= link_to '編集', edit_test_case_path(test_case) %>
    <%= link_to '削除', test_case_path(test_case), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <hr>
<% end %>

<%= link_to 'テストケース作成', new_test_case_path(problem_id: @problem.id) if current_user.administor %>

<%= form_for @submit, url: {controller: 'submit', action: 'create'} do |f| %>
  <div>
    <%= f.label '言語' %>
    <%= f.collection_select :language_id, Language.all, :id, :display %>
  </div>

  <div>
    <%= f.label 'ソースコード' %>
    <%= f.text_area :code %>
  </div>

  <div style="display: none">
    <%= f.collection_select :problem_id, Problem.all, :id, :name, selected: @problem.id %>
  </div>

  <%= f.submit  %>
<% end %>

<% if current_user.administor %>
  <%= link_to '編集', edit_problem_path(@problem)  %>
  <%= link_to '削除', problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to '戻る', problems_path %>
