<table>
  <thead>
    <tr>
      <th>提出時間</th>
      <th>問題名</th>
      <th>言語</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td><%= submit.created_at %></td>
        <td><%= link_to submit.problem.name, problem_path(submit.problem) %></td>
        <td><%= submit.language.display %></td>
        <td><%= submit.status %></td>
        <td><%= link_to '詳細を確認', submit_path(submit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
