<h2>Submit#<%= @submit.id+1 %></h2>

<pre class="submit code">
<%= @submit.code %>

</pre>

<table class="striped vertical-margin20">
  <tbody>
    <tr>
      <th>問題</th>
      <td><%= link_to @submit.problem.name, problem_path(@submit.problem) %></td>
    </tr>
    <tr>
      <th>言語</th>
      <td><%= @submit.language.display %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><span class="badge <%= @submit.status.downcase %>"></span></td>
    </tr>
    <tr>
      <th>得点</th>
      <td><%= @submit.show_point %></td>
    </tr>
    <tr>
      <th>ソースコード長</th>
      <td><%= @submit.code_length %></td>
    </tr>
    <tr>
      <th>最長実行時間</th>
      <td><%= @submit.max_runtime %></td>
    </tr>
    <tr>
      <th>最大メモリ使用量</th>
      <td><%= @submit.max_memory %></td>
    </tr>
    <% if @submit.status == 'CE' %>
      <tr>
        <th>コンパイルエラー</th>
        <td><%= @submit.judges.first.paiza_build_stderr.html_safe %></td>
      </tr>
    <% end %>
    <% if @submit.status == 'RE' %>
      <tr>
        <th>ランタイムエラー</th>
        <td><%= @submit.judges.first.paiza_stderr.html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if ["AC", "WA"].include? @submit.status %>
  <table class="highlight vertical-margin20">
    <thead>
      <tr>
        <th>No</th>
        <th>実行時間(sec)</th>
        <th>メモリ使用量(bytes)</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody>
      <% @submit.judges.each.with_index(1) do |judge, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= judge.paiza_time %></td>
          <td><%= judge.paiza_memory %></td>
          <td><span class="badge <%= judge.status.downcase %>"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to '戻る', submit_index_path, class: 'btn waves-effect blue-grey lighten-5 grey-text text-darken-3 right vertical-margin20' %>
