<h1>Submit#<%= @submit.id+1 %></h1>

<h3>code</h3>
<pre>
<%= @submit.code %>
</pre>

<p>問題: <%= @submit.problem.name %></p>
<p>言語: <%= @submit.language.display %></p>
<p>状態: <%= @submit.status %></p>

<%= link_to '戻る', submit_index_path %>
