<%= form_for @test_case  do |f| %>
    <label>問題</label>
    <select disabled>
      <option value="<%= @test_case.problem_id %>" disabled selected><%= @test_case.problem.name %></option>
    </select>

  <div class="input-field">
    <%= f.text_area :input, class: "materialize-textarea" %>
    <%= f.label :input, '入力' %>
  </div>

  <div class="input-field">
    <%= f.text_area :output, class: "materialize-textarea" %>
    <%= f.label :output, '出力' %>
  </div>

  <div class="input-field">
    <%= f.check_box :sample %>
    <%= f.label :sample, 'サンプルケースとして公開する' %>
  </div>

  <div class="input-field vertical-margin30">
    <%= link_to '戻る', @back_path, class: 'btn waves-effect blue-grey lighten-5 grey-text text-darken-3' %>
    <%= f.submit @submit_name, class: "btn waves-effect waves-light" %>
  </div>
<% end %>
