<!DOCTYPE html>
<html>
  <head>
    <title>Cpserver</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <header>
    <ul id="dropdown-userinfo" class="dropdown-content">
      <% if user_signed_in? %> 
        <li><%= link_to '設定', edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ユーザ作成', new_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
    <nav class="orange accent-3">
      <div class="nav-wrapper">
        <%#= link_to 'きょーぎぷろぐらみんぐ', root_path, class: "left brand-logo" %>
        <%= link_to 'Programming', root_path, class: "left brand-logo nekonecofont neko-logo" %>
        <ul id="nav-mobile" class="right">
          <li><%= link_to '問題', problems_path %></li>
          <li><%= link_to '提出済', submit_index_path %></li>
          <li><%= link_to '順位表', ranking_path %></li>
          <li><a class="dropdown-button" href="" data-activates="dropdown-userinfo"><%= current_user_name %><i class="material-icons right">settings</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
